* {margin: 10px;padding: 0;line-height: 20px;box-sizing: border-box;}
.App {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  color:  #fff;
  line-height: 20px;
}
button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
h2 {
  padding: 10px 0;
}
.father {
  width: 500px;
  background: #666;
  margin: 0 auto;
  padding: 20px 0;
}
.child {
  width: 400px;
  background: #555;
  margin: 0 auto;
  padding: 20px 0;
}
.son {
  width: 300px;
  background: #444;
  margin: 0 auto;
  padding: 20px 0;
  margin-top: 20px;
}